<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>

<div class="container">
  <div class="row">
    <% for entry in @entries %>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h3><%= entry["title"] %></h3>
        <p><%= entry["occurred_on"] %></p>
        <% if entry.uploaded_image.attached? %>
          <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
        <% else %>
          <img src="<%= entry["image"] %>" class="img-fluid">
        <% end %>
        <p><%= entry["description"] %></p>
      </div>
    <% end %>
  </div>
</div>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>